<template lang="html">
  <button type="button" name="button" v-on:click="HadCookied()">มีCookieแล้ว</button>
      <a href="http://localhost:8080/"><button type="button" name="button">ไม่มีแต่กูจะเข้าไป</button></a>
<button type="button" name="button" v-on:click="KillCookie()">ลบทิ้งดิรอไรล่ะ</button>
    <button type="button" name="button" v-on:click="ShowCookie()">โชว์ค่าคุกกี้ดิ๊ล่ะ</button>
    <span id="cookied">Before</span>


    <!-- <table v-bind:class="{'table table-product ': getNumberOfItemsInBox(item_need) === 0,
                            'table table-product table-warning': getNumberOfItemsInBox(item_need) !== 0 } ">
    <thead>
        <tr>
          <td>
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <span class="textIteminbox">สินค้าที่ยังไม่ใส่กล่อง</span>
              </div>
              <div class="col-md-4 col-sm-4 textIteminbox" style="left: 7%; margin-top: 10px;">
                {{getLeftamount(item_need)}} รายการ {{getNumberOfItemsInBox(item_need)}} ชิ้น
              </div>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for='item in item_need'>
          <td v-show = "item.amount != 0">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="Item_pic product-img" v-bind:src="getPhotoSrc(item.code)" v-on:click="setPhotoModal(getPhotoSrc(item.code),
                    getProductName(item.code),getProductOption(item.code))"
                    alt="{{getProductName(item.code)}}" height="150" width="150" data-toggle="modal" data-target="#myModal">
                </div>
                <div class="col-md-6 col-sm-4">
                  <p class="inbox-font">ชื่อสินค้า : {{getProductName(item.code)}} ({{getProductOption(item.code)}})  </p>
                  <p class="inbox-font">รหัสสินค้า : {{item.code}} </p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <span class="inbox-font">x</span>
                     <span class="Item-font">{{item.amount}}</span>
                </div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table v-bind:class="{'table table-product ': getNumberOfItemsInBox(item_box) === 0,
                            'table table-product table-success': getNumberOfItemsInBox(item_box) !== 0 }">
      <thead>
        <tr>
          <td   width= "476px"  height= "50px">
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <span class="textIteminbox">สินค้าที่ใส่แล้ว</span>
              </div>
              <div class="col-md-4 col-sm-4 textIteminbox" style="left: 7%;margin-top: 10px;">
                {{getLeftamount(item_box)}} รายการ {{getNumberOfItemsInBox(item_box)}} ชิ้น
              </div>
            </div>
          </td>
        </tr>
      </thead>
      <tbody v-show="getNumberOfItemsInBox(item_box) !== 0">
        <tr v-for='item in item_box'>
          <td v-show = "item.amount != 0" >
              <div class="row">
                <div class="col-md-4 col-sm-4 ">
                    <img class="Item_pic product-img" v-bind:src="getPhotoSrc(item.code)" v-on:click="setPhotoModal(getPhotoSrc(item.code),
                    getProductName(item.code),getProductOption(item.code))"
                     alt="{{getProductName(item.code)}}" height="150" width="150" data-toggle="modal" data-target="#myModal">
                </div>
                <div class="col-md-6 col-sm-4">
                  <p class="inbox-font">ชื่อสินค้า : {{getProductName(item.code)}} ({{getProductOption(item.code)}})  </p>
                  <p class="inbox-font">รหัสสินค้า : {{item.code}} </p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <span class="inbox-font">x</span> <span class="Item-font">{{item.amount}}</span>
                </div>
              </div>
          </td>
          </tr>
      </tbody>

      <tbody v-show="getNumberOfItemsInBox(item_box) === 0">
        <tr class="Unscaned-item">
          <td>
            <img src="/static/img/PickPack_pic/plus_19x19@2x.png" width="19px" height="19px" alt="" />
          </td>
        </tr>
      </tbody>

    </table> -->
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {},
  ready () {},
  attached () {},
  methods: {
    HadCookied: function () {
      this.setCookie()
      this.$route.router.go({path: '/preparelogin/13235'})
    },
    DonthadCookied: function () {

    },
    ShowCookie: function () {
      var temp = this.getCookie('sellsuki.facebook')
      document.getElementById('cookied').innerHTML = temp
    },
    setCookie: function () {
      var d = new Date()
      d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000))
      var expires = 'expires=' + d.toUTCString()
      console.log(expires)
      var cname = 'sellsuki.facebook'
      var cvalue = 'Facebook-of-sellsuki'
      document.cookie = cname + '=' + cvalue + '; ' + expires
      cname = 'sellsuki.fblogintoken'
      cvalue = 'Akdnmflskgjksgjskgejgnsgnlkgskegjekfjdj'
      document.cookie = cname + '=' + cvalue + '; ' + expires
      cname = 'sellsuki.user'
      cvalue = 'User@sellsuki.com'
      document.cookie = cname + '=' + cvalue + '; ' + expires
    },
    KillCookie: function () {
      document.cookie = 'sellsuki.facebook=; expires=Thu, 01 Jan 1970 00:00:00 UTC'
      document.cookie = 'sellsuki.fblogintoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC'
      document.cookie = 'User@sellsuki.com=; expires=Thu, 01 Jan 1970 00:00:00 UTC'
    },
    getCookie: function (cname) {
      var name = cname + '='
      var ca = document.cookie.split(';')
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i]
        while (c.charAt(0) === ' ') {
          c = c.substring(1)
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length)
        }
      }
      return ''
    }

  },
  components: {}
}
</script>

<style lang="css">
</style>
