<template lang="html">
  <div class="modal-mask" transition="modal" v-on:click="outerModal" v-show="show">
    <div class="modal-wrapper">
      <div class="modal-container" v-on:click="innerModal">
        <div class="header-img"></div>
        <div class="modal-body">
          <div class="text" align="center">
            <i class="ic-lock"></i> ขณะนี้แพ็กเกจคุณได้หมดอายุการใช้งาน
          </div>
          <div class="detail" align="center">
            คุณสามารถต่ออายุแพ็กเกจหรือเปลี่ยนแพ็กเกจเพื่อใช้งานได้ทันที
          </div>
          <div class="bottom">
            <div class="button" align='center'>
              <button class="btn confirm" v-on:click="confirm()">ต่ออายุทันที</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show'],
  watch: {},
  data: function () {
    return {
    }
  },
  computed: {},
  ready: function () {},
  attached: function () {},
  methods: {
    confirm: function () {
      console.log('confirm')
    },
    outerModal: function (e) {
      e.stopPropagation()
    },
    innerModal: function (e) {
      e.stopPropagation()
    }
  },
  components: {}
}
</script>

<style lang="css" scoped>
.button {
  margin-top: 15px;
  float: left;
  width: 100%;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-top: 1px #E0E0E0 solid;
  border-radius: 0 0 3px 3px;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
}

.modal-wrapper {
  display: table-cell;
  /*vertical-align: middle;*/
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-container {
  width: 530px;
  height: 355px;
  margin: 0px auto;
  padding: 0;
  background-color: #fff;
  border-radius: 6px 6px 3px 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.modal-body {
  margin: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.text {
  font-family: 'ThaiSansNeue-Bold';
  font-size: 24px;
  padding: 35px 10px 10px 10px;
}
.detail {
  font-family: Tahoma;
  font-size: 13px;
  color: #5C5C5C;
}
.header-img {
  background-image: url('/static/img/banner_remind.png');
  background-position: 0px 0px;
  height: 120px;
  width: 530px;
}
.ic-lock {
  background-image: url('/static/img/lock.png');
  background-position: 0px 0px;
  display: inline-block;
  height: 18px;
  width: 16px;
}
</style>
