<template lang="html">
  <div class="modal-mask" transition="modal" v-on:click="outerModal" v-show="show">
    <div class="modal-wrapper">
      <div class="modal-container" v-on:click="innerModal">
        <div class="modal-body">
          <div class="per-img"></div>
          <div class="side-content">
            <div class="text">
              403 Error
            </div>
            <div class="detail">
              คุณไม่มีสิทธิใช้งานหน้านี้
            </div>
            <div class="error-btn">
              ไปยังหน้าที่มีสิทธิ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show'],
  watch: {},
  data: function () {
    return {
    }
  },
  computed: {},
  ready: function () {},
  attached: function () {},
  methods: {
    confirm: function () {
      console.log('confirm')
    },
    outerModal: function (e) {
      e.stopPropagation()
    },
    innerModal: function (e) {
      e.stopPropagation()
    }
  },
  components: {}
}
</script>

<style lang="css" scoped>
.button {
  margin-top: 15px;
  float: left;
  width: 100%;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-top: 1px #E0E0E0 solid;
  border-radius: 0 0 3px 3px;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
}

.modal-wrapper {
  display: table-cell;
  /*vertical-align: middle;*/
  position: fixed;
  top: 28%;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-container {
  width: 660px;
  height: 340px;
  margin: 0px auto;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.modal-body {
  margin: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.text {
  cursor: default;
  pointer-events: none;
  color: #3a4354;
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  line-height: 30px;
}
.detail {
  cursor: default;
  pointer-events: none;
  font-family:'ThaiSansNeue-Bold';
  margin: 20px 0 10px 0;
  font-size: 24px;
  color: #a2a2a2;
}
.per-img {
  background-image: url('/static/img/403.png');
  background-position: 0px 0px;
  display: inline-block;
  background-size: 242px 261px;
  width: 242px;
  height: 261px;
  margin-top: 20px;
}
.ic-lock {
  background-image: url('/static/img/lock.png');
  background-position: 0px 0px;
  display: inline-block;
  height: 18px;
  width: 16px;
}
.side-content {
  cursor: default;
  pointer-events: none;
  display: inline-block;
  padding-top: 39px;
  padding-left: 15px;
  vertical-align: top;
}
.error-btn {
  background: #1480E2;
  border-bottom: 3px solid #0F6DC2;
  border-radius: 3px;
  font: normal 500 20px 'ThaiSansNeue-Bold';
  color: #FFF;
  padding: 5px 40px;
  text-shadow: 0 1px 1px rgba(0,0,0,.21);
  font-size: 24px;
  height: 40px;
  margin: 20px 0;
  text-decoration: none;
  box-sizing: border-box;
}
</style>
