<template lang="html">
  <div class="modal-mask" transition="modal" v-on:click="beforeoutmodal()" v-show="show">
    <div class="modal-wrapper">
        <div class="modal-container" v-on:click="innerModal">
            <div class="modal-headers">
              ต้องการออกจากหน้านี้ใช่หรือไม่ ?
            </div>
            <div class="modal-bodys">
              <p>การทำงานยังไม่เสร็จสมบูรณ์เนื่องจากยังมีสินค้าที่ไม่ถูกแพ็ค</p>
              <p>หรือยังไม่ได้คลิก “เตรียมจัดส่ง” หากออกจากหน้านี้</p>
              <p>
                การทำงานจะไม่ถูกบันทึก และสินค้าจะไม่ถูกตัดสต๊อก
              </p>
            </div>
            <div class="button-ops">
              <a href=""><button type="button" name="button" class = "goout-btn goout-btn-font">ออกจากหน้านี้</button></a>
              <button type="button" name="button" class = "cancel-btn cancel-btn-font" @click="beforeoutmodal()">ยกเลิก</button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show', 'beforeoutmodal'],
  watch: {},
  data () {
    return {
    }
  },
  computed: {},
  ready () {},
  attached () {},
  methods: {
    confirm: function () {
      console.log('confirm')
    },
    outerModal: function (e) {
      e.stopPropagation()
    },
    innerModal: function (e) {
      e.stopPropagation()
    }
  },
  components: {}
}
</script>

<style lang="css" scoped>
@font-face {
    font-family: thaisans_neuelight;
    src: url('../../static/fonts/thaisansneue-light-webfont.eot');
    src: url('../../static/fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-light-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-light-webfont.svg#thaisans_neuelight') format('svg'),
         url('../../static/fonts/thaisansneue-light-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: thaisans_neuebold;
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot');
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../../static/fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}

div.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 469px;
  height: 204px;
}

.modal-container {
  border-radius: 3px;
  width: inherit;
  height: inherit;
  margin: 0px auto;
  /*// padding: 20px 30px;*/
  background-color: #fff;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif,thaisans_neuebold,thaisans_neuelight;
}

.modal-headers {
  padding-top: 30px;
  padding-bottom: 7px;
  font-family: "ThaiSansNeue-bold";
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #000000;
}
p {
  font-family: Tahoma;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 0px;
}

.cancel-btn {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
}

.cancel-btn-font{
  font-family: "ThaiSansNeue-bold";
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #5c5c5c;
}

.goout-btn {
  border-radius: 3px;
  background-color: #1480e2;
  border: solid 1px #0f6dc2;
}

.goout-btn-font {
  font-family: "ThaiSansNeue-bold";
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.button-ops {
  float: left;
  margin-left: 30%;
  margin-top: 20px;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header-line {
  background: url(/static/img/print-bar.png);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 3px;
  width: 100%;
}

.line-shadow {
  width: 60px;
  height: 2px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.header-text {
  color: #000;
  float: left;
  font-family: "thaisans_neuelight";
  font-size: 20px;
  /*font-weight: 700;*/
  line-height: 1em;
}

.btn-button-submit {
  background: #1480e2;
  border: 1px solid #0f6dc2;
  border-radius: 3px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  display: inline-block;
}

.btn-button-submit-font {
  font: normal 500 15px ThaiSansNeue;
  color: #fff;
}
</style>
