<template lang="html">
<div class="modal-mask" transition="modal"  v-on:click="Stopmodal()" v-show="show">
  <div class="modal-wrapper">
    <div class="modal-container" v-on:click="innerModal">
    <div class="header-line"></div>
    <div class="modal-header">
      <p class="header-text">แจ้งจัดส่งพัสดุ {{Ischecked}}</p>
      <button type="button" class="close" v-on:click="Stopmodal()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="body-item">
        <div class="body-item--id">
          <p class="body-item--id--font">O0916I9LFGB00011</p>
        </div>
        <div class="body-item--detail">
          <p class="body-item--detail---font">KhawFang Lochaiyakul</p>
        </div>
        <div class="body-item--ems">
          <input class="ems-input" type="text" placeholder="กรอกรหัสพัสดุ (ถ้ามี)" v-model="Tracking" @change="AdvanceSequence()">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="item-footer">
        <div class="footerleft">
          <div class="modal--checkbox">
              <div class="checkbox--object">
                <input type="checkbox" name="name" @click="Ischecked = !Ischecked" value="">
                <span></span>
              </div>
              <span class="send-notify">แจ้งข้อมูลการส่งไปยังลูกค้า</span>
          </div>
        </div>
        <div class="footerright">
          <span class="footer-right-font">กรอกรหัสพัสดุแล้ว  0 / 1</span>
          <button type="button" name="button" class="btn-button-submit btn-button-submit-font" v-on:click="ExpressSequence()">ยืนยัน</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</template>

<script>
import { CallExpressBill, Callnotifyshippment, CallBilldeductstock, SendMessagetocustomer, CallBillshipment, Expressjob } from '../vuex/actions'
import { getExpressBillResponse, getNotifyshippment, getBilldeductstock, getMSGstatus, getBillshipment } from '../vuex/getters'
// import $ from 'jquery'
export default {
  props: ['show', 'Stopmodal'],
  watch: {},
  vuex: {
    getters: {
      InvRe: getExpressBillResponse,
      Notify: getNotifyshippment,
      Deduct: getBilldeductstock,
      Msg: getMSGstatus,
      Shipment: getBillshipment
    },
    actions: {
      CallExpressBill: CallExpressBill,
      Callnotifyshippment: Callnotifyshippment,
      CallBilldeductstock: CallBilldeductstock,
      MessagetoCus: SendMessagetocustomer,
      Callship: CallBillshipment,
      Expressjob: Expressjob
    }
  },
  data: function () {
    return {
      Ischecked: false,
      Tracking: ''
    }
  },
  computed: {},
  ready: function () {},
  attached: function () {},
  methods: {
    confirm: function () {
      console.log('confirm')
    },
    outerModal: function (e) {
      e.stopPropagation()
    },
    innerModal: function (e) {
      e.stopPropagation()
    },
    Testusefuncinmodal: function () {
      console.log('It work')
    },
    CallExpress: function () {
      this.CallExpressBill()
    },
    ShowInvoice: function () {
      this.ResultofCall = JSON.parse(this.InvRe)
      console.log(this.ResultofCall.results.success)
    },
    CallNotify: function () {
      this.Callnotifyshippment()
    },
    ShowNotify: function () {
      console.log(this.Notify)
      return console.log('CallNoti')
    },
    Showdeduct: function () {
      console.log(this.Deduct)
    },
    Calldeduct: function () {
      this.CallBilldeductstock()
    },
    CallMessage: function () {
      this.MessagetoCus()
      return console.log('CallMess')
    },
    ShowMessage: function () {
      console.log(this.Msg)
    },
    CallShipment: function () {
      this.Callship()
    },
    ShowShipment: function () {
      console.log(this.Shipment)
    },
    ExpressSequence: function () {
      this.CallExpress()
      if (this.Tracking !== ' ') {
        this.CallNotify()
      }
      if (this.Ischecked) {
        this.CallMessage()
      }
    },
    AdvanceSequence: function () {
      console.log(this.Tracking)
    }
  }
}
</script>

<style lang="css" scoped>
@font-face {
    font-family: thaisans_neuelight;
    src: url('../../static/fonts/thaisansneue-light-webfont.eot');
    src: url('../../static/fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-light-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-light-webfont.svg#thaisans_neuelight') format('svg'),
         url('../../static/fonts/thaisansneue-light-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: thaisans_neuebold;
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot');
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../../static/fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 600px;
  height: 550px;
}

.modal-container {
  width: inherit;
  height: inherit;
  margin: 0px auto;
  /*// padding: 20px 30px;*/
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif,thaisans_neuebold,thaisans_neuelight;
}

.modal-header h3 {
  height: 62px;
  padding: 20px;
  position: relative;
  line-height: 2.5em;
}

.modal-body {
  /*margin: 20px 0;*/
  height: calc(100% - 3px - 50px - 3px - 55px);
  position: relative;
}

.body-item {
  width: 100%;
  float: left;
  /*padding: 20px;*/
}

.body-item--id {
  width: 31.25%;
  font-size: 14px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.body-item--id--font {
  font-family: thaisans_neuebold;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  font-family: Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.body-item--detail {
  width: 31.5%;
  position: relative;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.body-item--detail---font {
  color: #000;
  font-family: Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.body-item--ems {
  /*width: 100%;*/
  width: 35.5%;
  position: relative;
  float: left;
  padding: 20px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
}

.ems-input {
  float: right;
  height: 30px;
  padding: 10px;
  width: 80%;
  line-height: normal;
}

.modal-footer {
  background: #f8f8f8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #e9e9e9;
  height: 70px;
  padding: 20px;
}

.item-footer {
  height: 35px;
  position: relative;
}

.footerleft {
      float: left;
}

.send-notify {
  float: left;
  padding-left: 11px;
  font-size: 16px;
}

.modal--checkbox {
  bottom: 8px;
  position: absolute;
  width: 350px;
}

.checkbox--object {
      float: left;
}

.footerright {
      float: right;
      height: 100%;
}

.footer-right-font {
  color: #000;
  font-family: Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header-line {
  background: url(/static/img/print-bar.png);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 3px;
  width: 100%;
}

.line-shadow {
  width: 60px;
  height: 2px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.header-text {
  color: #000;
  float: left;
  font-family: "thaisans_neuelight";
  font-size: 20px;
  /*font-weight: 700;*/
  line-height: 1em;
}

.btn-button-submit {
  background: #1480e2;
  border: 1px solid #0f6dc2;
  border-radius: 3px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  display: inline-block;
}

.btn-button-submit-font {
  font: normal 500 15px ThaiSansNeue;
  color: #fff;
}

/*.checkbox {
  label {
    cursor: pointer;
    margin-bottom: 0;
    min-height: 21px;
    padding-left: 0;
    position: relative;
  }

  span {
    background: url('../img/icon/select-icon.png');
    border-radius: 2px;
    display: block;
    height: 15px;
    text-align: center;
    vertical-align: top;
    width: 16px;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
  }

  input[type=checkbox]:checked + span {
    background-position: 0 -15px;
  }
}*/

/*<div class="orders--checkbox">
              <label for="flagsendmessage">
                  <input id="flagsendmessage" type="checkbox" ng-model="sendShipCtrl.flagSendMessage">
                  <span class="check"></span>
              </label>
            </div>*/

</style>
