<template lang="html">
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-headers">
          ชื่อสินค้า : SM or sheeo (Red,X) รหัสสินค้า : 123456789-1
          <span style="position:absolute;right: 0;padding-right: 16.6px;">X</span>
        </div>
        <div class="line-shadow"></div>
        <div class="modal-bodys">
          <div class="img-content">
              <img src="/static/img/PickPack_pic/usertest.jpg" style="object-fit: contain;width:100%;"  alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {},
  ready () {},
  attached () {},
  methods: {},
  components: {}
}
</script>

<style lang="css" scoped>
@font-face {
    font-family: thaisans_neuelight;
    src: url('../../static/fonts/thaisansneue-light-webfont.eot');
    src: url('../../static/fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-light-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-light-webfont.svg#thaisans_neuelight') format('svg'),
         url('../../static/fonts/thaisansneue-light-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: thaisans_neuebold;
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot');
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../../static/fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}

div.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 620px;
  height: 400px;
}

.modal-container {
  border-radius: 3px;
  width: inherit;
  height: inherit;
  margin: 0px auto;
  /*// padding: 20px 30px;*/
  background-color: #fff;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif,thaisans_neuebold,thaisans_neuelight;
}

.modal-headers {
  padding-top: 11px;
  padding-left: 10px;
  font-family: tahoma;
  font-size: 17px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
  position: relative;
}
p {
  font-family: Tahoma;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 0px;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header-line {
  background: url(/static/img/print-bar.png);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 3px;
  width: 100%;
}

.line-shadow {
  width: 620px;
  height: 1px;
  border: solid 0.5px #dfdfdf;
}

.header-text {
  color: #000;
  float: left;
  font-family: "thaisans_neuelight";
  font-size: 20px;
  /*font-weight: 700;*/
  line-height: 1em;
}

.img-content {
  width: 600px;
  height: 338px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
  margin: 10px;
}

.modal-bodys {

}

</style>
