<template lang="html">
  <div>
    Please wait ...
  </div>
</template>

<script>
import { CallInit } from '../vuex/actions'
import { getInit } from '../vuex/getters'
export default {
  vuex: {
    actions: {
      CallInit: CallInit
    },
    getters: {
      getInit: getInit
    }
  },
  route: {
    doinginit: function (transition) {
      return this.CallInitArr()
      .then(function () {
        return this.getInitArr()
      })
    }
  },
  data () {
    return {
      CookieData: '',
      initData: null
    }
  },
  computed: {},
  ready () {
    // this.validatecookie()
    this.CallInitArr()
  },
  attached () {},
  methods: {
    getCookie: function (cname) {
      var name = cname + '='
      var ca = document.cookie.split(';')
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i]
        while (c.charAt(0) === ' ') {
          c = c.substring(1)
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length)
        }
      }
      return ''
    },
    validatecookie: function () {
      var facebook = this.getCookie('sellsuki.facebook')
      var fblogintoken = this.getCookie('sellsuki.fblogintoken')
      var user = this.getCookie('sellsuki.user')
      var storeIdmergeName = 'sellsuki.store_' + this.$route.params.storeId
      var storeId = this.getCookie(storeIdmergeName)
      if (facebook && fblogintoken && user && storeId) {
        console.log(document.cookie.search('sellsuki.fblogintoken'))
        if (window.localStorage) {
          window.localStorage.setItem('sellsuki.facebook', encodeURIComponent(facebook))
          console.log(encodeURIComponent(facebook))
          window.localStorage.setItem('sellsuki.fblogintoken', unescape(fblogintoken))
          console.log(unescape(fblogintoken))
          window.localStorage.setItem('sellsuki.user', encodeURIComponent(user))
          window.localStorage.setItem(storeIdmergeName, encodeURIComponent(storeId))
          this.$route.router.go({path: '/'})
        } else {
          console.log('Unsupport Browser')
        }
      } else {
        // window.location.replace('http://localhost:3000/#/login')
        this.$route.router.go({path: '/'})
      }
    },
    CallInitArr: function () {
      this.CallInit(function (result) {
        console.log('hello')
      })
    },
    DriveFunc: function () {
      this.CallInitArr()
    },
    getInitArr: function (jsondata) {
      // var tempJSON = JSON.parse(jsondata)
      console.log('Called')
      // var permissions = tempJSON.results.permissions
      // console.log(tempJSON)
      // let staticMSG = tempJSON.results.static_message
      // this.getTextdialog(staticMSG)
                  /* Check Init Data sequence */
      // for (var i = 0; i < permissions.length; i++) {
      //   if (permissions[i].menu_permission === 'accessshipment' && permissions[i].flag_is_active === '1') {
      //     console.log('Return to Available')
      //     window.localStorage.setItem('permission', true)
      //   } else if (i === permissions.length - 1) {
      //     console.log('Return to Available')
      //     window.localStorage.setItem('permission', false)
      //   }
      // }
      // if (tempJSON.results.offer.length >= 0) {
      //   console.log('Return to Available')
      //   window.localStorage.setItem('offer', true)
      //   this.$route.router.go({path: '/'})
      // } else {
      //   console.log('Conditions 1 Fall')
      //   window.localStorage.setItem('offer', false)
      // }
      // if (tempJSON.results.user_store[0].flag_available_admin >= 1) {
      //   console.log('Return to Available')
      //   this.$route.router.go({path: '/'})
      // } else {
      //   console.log('Conditions 2 Fall')
      // }
    },
    getTextdialog: function (data) {
      for (var i = 0; i < data.length; i++) {
        if (data[i].type === '3') {
          window.localStorage.setItem('Shipedtext', data[i].text)
        } else if (data[i].type === '4') {
          window.localStorage.setItem('Shipedtextwithtracking', data[i].text)
        }
      }
    }
  },
  components: {}
}
</script>

<style lang="css">
</style>
