<template>
    {{getBill()}}
    <div class="mask">
      <div v-if="showGetBill" class="contain-middle">
      <center>
        <div class="" v-show="!dogLoad">
          <img src="../../static/img/PickPack_pic/logo_453x58@2x.png" width="453px" height="58px"></img>
        </div>
      <!-- app -->
      <!-- <modal-no-permission :show="window.localStorage.getItem("permission")"></modal-no-permission> -->
      <modal-no-offer :show="localStorage.getItem('offer')"></modal-no-offer>
    <div class="">
        <div class="" v-show="!dogLoad"  style="margin-top:20px;">
            <div style="  font-family: Tahoma;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #000000;">
              กรอกหรือสแกนบาร์โค้ดใบส่งสินค้า
            </div>
            <div style="margin-top:10px;">
              <input type="text" v-model="textFieldVar" id="BarcodeID" class="setInput-text" placeholder="รหัสบาร์โค้ดใบส่งสินค้า" value='' autofocus v-if="!notFoundBill"/>
              <input type="text" v-model="textFieldVar" id="BarcodeID" class="setInput-text" placeholder="รหัสบาร์โค้ดใบส่งสินค้า" value='' autofocus v-show="notFoundBill" style="border-color:red"/>
              <div v-if="notFoundBill" style="font-style: italic;color:#ff0000;margin-top:10.5px;margin-bottom:10.5px;font-size:14px;font-family: tahoma;font-weight: bold;margin-right: 29px;">
                รหัสบาร์โค้ดไม่ถูกต้องกรุณาลองใหม่อีกครั้ง
              </div>
              {{msgGetDataError}}
            </div>
            <div v-if="!notFoundBill" style="font-style: italic;color:red;margin-top:35px;font-size:1.05em;"></div>
            <button type="button" class="barcode-submit-btn barcode-submit-btn-font" name="button" v-on:click = "getBill('clickOK')" >ตกลง</button>
        </div>
        <div class="" v-show="dogLoad">
            กำลังค้นหาใบเสร็จ
        </div>
        <div v-show="dogLoad" style="position: absolute;
      left: 22%;
      top: 25%;
      left: 0;
      right: 0;">
            <div class="">
                <img src="https://app.sellsuki.com/img/dog_loading.gif" >
            </div>
        </div>
      </center>
    </div>
  </div>
    </div>

</template>

<script>
import { setBillData, setInvoiceBill, CallExpressBill, Callnotifyshippment, CallInit, CallBilldeductstock, SendMessagetocustomer, CallBillshipment } from '../vuex/actions'
import store from '../vuex/store'
import { getExpressBillResponse, getNotifyshippment, getInit, getBilldeductstock, getMSGstatus, getBillshipment } from '../vuex/getters'
import modalNoOffer from './modalNoOffer'
import modalNoPermission from './modalNoPermission'
// import $ from 'jquery'
// import VueRouter from 'vue-router'
// var router = new VueRouter()
export default {
  store,
  vuex: {
    getters: {
      InvRe: getExpressBillResponse,
      Notify: getNotifyshippment,
      Initarr: getInit,
      Deduct: getBilldeductstock,
      Msg: getMSGstatus,
      Shipment: getBillshipment
    },
    actions: {
      setBillData: setBillData,
      setInvoiceBill: setInvoiceBill,
      CallExpressBill: CallExpressBill,
      Callnotifyshippment: Callnotifyshippment,
      CallInit: CallInit,
      CallBilldeductstock: CallBilldeductstock,
      MessagetoCus: SendMessagetocustomer,
      Callship: CallBillshipment
    }
  },
  components: {
    modalNoOffer,
    modalNoPermission
  },
  data () {
    return {
      textFieldVar: '53Va6A5',
      barcodeVar: '',
      showGetBill: true,
      res: [],
      isAlreadyAcceptedBill: false,
      sku: [],
      item_need: [],
      notFoundBill: false,
      idNotFoundBill: '',
      dogLoad: false,
      msgGetDataError: '',
      Errorsound1: new window.Audio('../static/error.wav'),
      Canscan: true,
      ResultofCall: [],
      showModal: false
    }
  },
  methods: {
    getBill: function (clickOK) {
      if (clickOK === 'clickOK') {
        this.dogLoad = true
        this.getData(this.textFieldVar)
        return
      }
      (function (vm) {
        document.addEventListener('keypress', function (event) {
          setTimeout(function () {
            vm.barcodeVar = ''
          }, 500
        )
          if (this.message === undefined) {
            this.message = ''
            this.chk = false
          }
          if (event.keyCode === 13) {
            var itmp = ''
            if (vm.barcodeVar !== '') {
              itmp = vm.barcodeVar
              vm.dogLoad = true
            } else if (vm.textFieldVar !== '') {
              itmp = vm.textFieldVar
              vm.dogLoad = true
              vm.barcodeVar = ''
            }
            if (itmp !== '') {
              document.getElementById('BarcodeID').value = ''
              vm.textFieldVar = ''
              vm.barcodeVar = ''
              var tempBeforesend = itmp
              itmp = ''
              vm.getData(tempBeforesend)
            }
          } else {
            if (event.keyCode !== 8) {
              if (vm.Canscan) {
                vm.barcodeVar += String.fromCharCode(event.keyCode)
              }
            }
          }
        })
      })(this)
    },
    getData: function (a) {
      // if (click)
      a = a.trim()
      var str = 'http://api.sellsuki.com/invoice?bill_url='
      str += a
      this.$http({url: str, method: 'GET'}).then(
        function (response) {
          this.res = response.data.results
          if (!Array.isArray(this.res)) {
            this.showGetBill = false
            this.statusBill = true
            // sku is array oof object to be compared with item-need and item-box
            this.sku = this.res.sku
            this.sku.map(function (e) {
              if (e.store_photo.src === null) {
                e.store_photo.src = 'https://app.sellsuki.com/img/noimage-product.png'
              }
            })
            // put all item into requirement box
            for (var i = 0; i < this.sku.length; i++) {
              this.item_need.push({
                code: this.sku[i].product_sku.code,
                amount: this.sku[i].bill_product_sku.amount | 0 // cut off decimal point
              })
            }
            this.setBillData(this.res) // set state billData
            this.Pauseaudio()
            this.Canscan = false
            this.$route.router.go({path: '/Scanproduct'})
          } else {
            this.notFoundBill = true
            this.idNotFoundBill = a
            this.dogLoad = false
            this.Playaudio()
            this.status = 'normal' // reset stauts
            this.statusText = 'กรุณาแสกน barcode ของสินค้า' // reset stauts text
          }
        }, function (response) {
        this.dogLoad = false
        this.msgGetDataError = 'ไม่สามารถติดต่อ Server ได้'
      })
    },
    Playaudio: function () {
      this.Errorsound1.play()
    },
    Pauseaudio: function () {
      this.Errorsound1.pause()
    }
  }
}
</script>
<style>
@font-face {
    font-family: thaisans_neuebold;
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot');
    src: url('../../static/fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../../static/fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('../../static/fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}

@font-face {
    font-family: 'thaisans_neuelight';
    src: url('../../static/fonts/thaisansneue-light-webfont.woff2') format('woff2'),
         url('../../static/fonts/thaisansneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div.exam-pic {
margin-top: 41px;
}
div.arrow-distance {
padding-left: 48px;
padding-top: 34px;
}

.setInput-text {
  width: 300px;
  height: 36px;
  border-radius: 3px;
  border: solid 1px #bababa;
  padding-left: 15px;
}

.setInput-text {
  font-family: Tahoma;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
}

.mask {
  height: 100vh;
  width: 100vw;
}

.contain-middle {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  height: inherit;
  margin: 0px auto;
}

.barcode-submit-btn {
  /*margin-top: 30px;*/
  width: 69px;
  height: 36px;
  border-radius: 3px;
  background-color: #1480e2;
  border: solid 1px #0f6dc2;

}

.barcode-submit-btn-font {
  font-family: "ThaiSansNeue-bold";
   font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

::-webkit-input-placeholder {
   color: #dfdfdf;
}

:-moz-placeholder { /* Firefox 18- */
   color: #dfdfdf;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #dfdfdf;
}

:-ms-input-placeholder {
   color: #dfdfdf;
}
</style>
