<template>
  {{ listenToProductBarcode() }}
  <div class="Logo-header">
    <div class="Logo-left" style="float:left; height:auto; width:25%">
      <img src="/static/img/PickPack_pic/logo_320x39@2x.png" width="320px" height="39.1px" style="margin:25px;" alt="" />
    </div>
    <div class="Logo-Right" style="float:right; height:auto; width:auto">
      <div class="Userstatus" >
            <div class="picLeft" style="float:left;width:25%;">
              <img src="/static/img/PickPack_pic/usertest.jpg" alt="" class="displayimg" />
            </div>
            <div class="textRight" style="float:left;width:75%;">
                <div class="page-name" >
                    ร้านขนมบ้านปลาวาฬน้อย
                </div>
                <div class="Email-Content">
                  <div class="picemail" style="float:left;width:13%;margin-top: -6px;">
                      <img src="/static/img/PickPack_pic/user_15x13@2x.png" width="15px" height="13px"  alt="testsfd" />
                  </div>
                  <div class="email-name" style="float:left;width:75%;margin-top: -6px;" >
                    <span style="font-family: Tahoma;font-size: 12px;color: #5c5c5c;" title="empolyeestore@emaileieoeo.co.th">
                      empolyeestore@emaileieoeo.co.th
                    </span>
                  </div>
                  <div class="user-role">
                    admin
                  </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="Line-header"></div>
  <div class="container">
    <div class="row" style="padding-top:40px;">
        <div class="col-md-6 col-sm-6 col-xs-6 header-distance">
          <p class="header" style="margin-bottom: 15px;">  รายละเอียดใบส่งสินค้า</p>
          <div class="bill-detail">
            <h4>บิลเลขที่: {{billData.bill.id}}</h4>
            <h4>วันที่สั่งซื้อ: {{ convertTime(billData.bill.create_time) }}</h4>
            <h4>สินค้าทั้งหมด : {{billData.sku.length}} รายการ ( {{ Maxitem }} ชิ้น)</h4>
            <h4>ประเภทการขนส่ง : {{billData.bill.cache_shipping_type}}</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-4  header-distance" style="float:right;width: fit-content;">
          <p class="header"> กรอกรหัสบาร์โค้ดสินค้าได้ที่นี่</p>
          <div class="">
            <input type="text" v-if="status=='error'" name="name" value="" id="BarcodeID" class="Input-add-err" v-model="textFieldBarcode"  placeholder="รหัสบาร์โค้ดใบส่งสินค้า" :disabled="status=='success'"/>
            <input type="text" v-else name="name" value="" id="BarcodeID" class="Input-add" v-model="textFieldBarcode"  placeholder="รหัสบาร์โค้ดใบส่งสินค้า" :disabled="status=='success'"/>
              <button type="button" class="btn-add" name="button" id="sendbarcodebutton" v-on:click = "sendProductBarcode(textFieldBarcode)" :disabled="status=='success'">
                <img src="/static/img/PickPack_pic/plus_19x19@2x.png" width="19px" height="19px" alt="" /></button>
          </div>
          <div class="Button-Operation" style="margin-top: 25px;">
                <!-- <button v-if = " Scaned==true " type="button" class="btn btn-info btn-lg btn-marg" data-toggle="modal"  data-target="#LeaveModal">กลับหน้าหลัก</button> -->
                <button type="button" v-bind:class="{'shipping-button-dis shipping-button-font': status!=='success',
                                               'shipping-button-succ shipping-button-font': status==='success'}"  @click="Shipsend = true" :disabled="status!=='success'">เตรียมจัดส่ง</button>
                <button type="button" name="button" class="gotohome-button gotohome-button-font" @click="Beforeout = true">กลับหน้าหลัก</button>
        </div>
    </div>
  </div>

    <modalappend :show="Shipsend" :Stopmodal="Stopmodal"></modalappend>
    <modal-beforeout :show="Beforeout" :beforeoutmodal="beforeoutmodal"></modal-beforeout>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> {{NameofItemInModal}} ( {{SkuofItemInModal}} ) </h4>
          </div>
          <div class="modal-body">
             <center><img :src="ModalPhotoSrc" style="height:100%;object-fit:contain;width: 100%;"></center>
          </div>
        </div>
      </div>
    </div>
  </div>
      <center>
        <div class="container">
          <div class="row">
            <div class= "col-md-12">
              <div class="product-scan-status init" v-if="status=='init'"><div class="text">{{ statusText }}</div></div>
              <div class="product-scan-status normal" v-if="status=='normal'"><div class="text">{{ statusText }}</div></div>
              <div class="product-scan-status error" v-if="status=='error'"><div class="text">{{ statusText }}</div></div>
              <div class="product-scan-status success" v-if="status=='success'"><div class="text">สินค้าทั้งหมดสำหรับออเดอร์นี้ถูกแพ็คเรียบร้อยแล้ว คลิก​ “เตรียมจัดส่ง” เพื่อแจ้งรหัสพัสดุและตัดสต็อก</div></div>
            </div>
          </div>
        </div>
    </center>
    <div class="container">
      <div class="row container">
        <div class="scan-Item-body">
          <div v-bind:class="{'left-item': getNumberOfItemsInBox(item_need) === 0,
                              'unfinshed-scan-item-left': getNumberOfItemsInBox(item_need) !== 0}">
              <div v-bind:class="{'finished-header': getNumberOfItemsInBox(item_need) === 0,
                                  'wait-scaned-header': getNumberOfItemsInBox(item_need) !== 0}">
                <div class="finished-header-font finished-left-text">
                สินค้าที่ยังไม่ใส่กล่อง
                </div>
                <div class="finished-header-font finished-header-item">
                  {{getLeftamount(item_need)}} รายการ {{getNumberOfItemsInBox(item_need)}} ชิ้น
                </div>
              </div>
              <div v-if="getNumberOfItemsInBox(item_need) === 0" class="finshied-body">
                <div class="img-finshed">
                  <img src="/static/img/PickPack_pic/box-check_60x61@2x.png" alt="" width="60" height="61"/>
                </div>
                <div class="text-finished">
                    <p class="finished-item-text" style="font-size: 14px;">สินค้าถูกใส่ลงกล่องหมดแล้ว</p>
                    <p class="finished-item-text" style="font-size: 12px;">ท่านสามารถกดปุ่มเตรียมจัดส่งเพื่อทำการตัดสต๊อกสินค้า</p>
                </div>
              </div>
              <div v-else  class="finshied-body">
                <div v-for='item in item_need' class="item-in-needbox">
                  <div class="left-img-need-box">
                    <img class="Item_pic product-img" v-bind:src="getPhotoSrc(item.code)" v-on:click="setPhotoModal(getPhotoSrc(item.code),
                    getProductName(item.code),getProductOption(item.code))"
                    alt="{{getProductName(item.code)}}" height="150" width="150" data-toggle="modal" data-target="#myModal">
                  </div>
                  <div class="left-text-need-box">
                    <p class="inbox-font" style="text-align:left;">ชื่อสินค้า : {{getProductName(item.code)}} ({{getProductOption(item.code)}})  </p>
                    <p class="inbox-font" style="text-align:left;">รหัสสินค้า : {{item.code}} </p>
                  </div>
                  <div class="left-amount-need-box">
                    <span class="inbox-font">x</span>
                     <span class="Item-font">{{item.amount}}</span>
                  </div>
                </div>
              </div>
            </div>




            <div v-bind:class="{'right-item': getNumberOfItemsInBox(item_box) === 0,
                                'unfinshed-scan-item-right': getNumberOfItemsInBox(item_box) !== 0}">
              <div v-bind:class="{'unscaned-header': getNumberOfItemsInBox(item_box) === 0,
                                  'scaned-header': getNumberOfItemsInBox(item_box) !== 0}">
                <div class="finished-header-font finished-left-text">
                สินค้าที่ใส่กล่องแล้ว
                </div>
                <div class="finished-header-font finished-header-item">
                  {{getLeftamount(item_box)}} รายการ {{getNumberOfItemsInBox(item_box)}} ชิ้น
                </div>
              </div>
              <div v-if="getNumberOfItemsInBox(item_box) === 0" class="finshied-body">
                <div class="img-finshed">
                  <img src="/static/img/PickPack_pic/box-add_61x60@2x.png" alt="" width="60" height="61"/>
                </div>
                <div class="text-finished">
                    <p class="finished-item-text" style="font-size: 14px;">ยังไม่มีสินค้าที่ใส่กล่อง</p>
                    <p class="finished-item-text" style="font-size: 12px;">สแกนหรือกรอกบาร์โค้ดสินค้าเพื่อเริ่มการทำงาน</p>
                </div>
              </div>


              <div v-else class="finshied-body">
                <div v-for='item in item_box' class="item-in-needbox">
                  <div class="left-img-need-box">
                    <img class="Item_pic product-img" v-bind:src="getPhotoSrc(item.code)" v-on:click="setPhotoModal(getPhotoSrc(item.code),
                    getProductName(item.code),getProductOption(item.code))"
                    alt="{{getProductName(item.code)}}" height="150" width="150" data-toggle="modal" data-target="#myModal">
                  </div>
                  <div class="left-text-need-box">
                    <p class="inbox-font" style="text-align:left;">ชื่อสินค้า : {{getProductName(item.code)}} ({{getProductOption(item.code)}})  </p>
                    <p class="inbox-font" style="text-align:left;">รหัสสินค้า : {{item.code}} </p>
                  </div>
                  <div class="left-amount-need-box">
                    <span class="inbox-font">x</span>
                     <span class="Item-font">{{item.amount}}</span>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
    </div>
  </div>
  <br><br>
</template>

<script>
import { getBillData } from '../vuex/getters'
import moment from 'moment'
import modalappend from './modalappend'
import modalBeforeout from './modalBeforeout'
// import picturemodal from './picturemodal'

// import store from '../vuex/store'
export default {

  // store,
  components: {
    modalappend,
    modalBeforeout
  },
  vuex: {
    getters: {
      // note that you're passing the function itself, and not the value 'getCount()'
      billData: getBillData
    }
  },
  ready: function () {
    this.Pauseaudio()
    this.loadProduct()
  },
  data () {
    return {
      status: 'init',
      statusText: 'สแกนหรือกรอกบาร์โค้ดสินค้าเพื่อเริ่มการทำงาน',
      sku: [], // store bill data including list of products from API
      item_need: [],
      item_box: [],
      textFieldBarcode: '',
      barcodeVar: '',
      Errorsound: new window.Audio('../static/error.wav'),
      Finishedsound: new window.Audio('../static/finished_alternate.mp3'),
      Correctsound: new window.Audio('../static/correct.mp3'),
      Maxitem: 0,
      Scaneditem: 0,
      Unscanitem: 0,
      Canscan: true,
      ModalPhotoSrc: '',
      NameofItemInModal: '',
      SkuofItemInModal: '',
      Scaned: false,
      Shipsend: false,
      Beforeout: false

    }
  },
  methods: {
    convertTime: function (time) {
      var dateStr = moment(time).add(7, 'h').format('D MM YYYY HH:mm')
      var month = dateStr.split(' ')[1] // get month number
      var monthArr = ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ษ.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
      return dateStr.replace(month, monthArr[+month - 1])
    },
    loadProduct: function () {
      try {
        this.sku = this.billData.sku
        console.log(this.sku)
        // set no-image url for the picture that has no image
        this.sku
          .filter(item => item.store_photo.src === null)
          .map(item => { item.store_photo.src = 'https://app.sellsuki.com/img/noimage-product.png' })
        // put all item into requirement box
        this.sku
          .map(item => {
            this.item_need.push({
              code: item.product_sku.code,
              amount: item.bill_product_sku.amount | 0 // omit decimal points
            })
          })
        this.Maxitem = this.getNumberOfAllItems()
      } catch (e) {
        console.log('catch')
        this.$route.router.go({path: '/'})
      }
    },
    getPhotoSrc: function (code) {
      return this.sku.filter(item => item.product_sku.code === code)[0].store_photo.src
    },
    getProductName: function (code) {
      return this.sku.filter(item => item.product_sku.code === code)[0].product.name
    },
    searchProductCode: function (code) {
      return this.sku.filter(item => item.product_sku.code === code).length !== 0
    },
    getItemAmount: function (itemArr, code) {
      for (let item of itemArr) {
        if (item.code === code) {
          return item.amount
        }
      }
      return 0
    },
    getProductOption: function (code) {
      let item = this.sku.filter(item => item.product_sku.code === code)[0]
      // let options = [item.]
      return item.bill_product_sku.cache_concat_options
    },
    getNumberOfItemsInBox: function (itemAll) {
      if (itemAll.length === 0) {
        return 0
      }
      let sum = 0
      for (let i = 0; i < itemAll.length; i++) {
        sum += itemAll[i].amount
      }
      return sum
    },
    getNumberOfAllItems: function () {
      if (this.sku.length === 0) {
        return 0
      }
      let sum = 0
      for (let i = 0; i < this.sku.length; i++) {
        sum += parseInt(this.sku[i].bill_product_sku.amount)
      }
      return sum
    },
    setPhotoModal: function (Photosrc, Name, Sku) {
      this.ModalPhotoSrc = Photosrc
      this.NameofItemInModal = Name
      this.SkuofItemInModal = Sku
    },
    removeItem: function (itemArr, code) { // remove amount by 1
      for (let item of itemArr) {
        if (item.code === code) {
          item.amount--
          if (item.amount === 0) {
            itemArr.splice(itemArr.indexOf(item), 1)
          }
          return
        }
      }
    },
    addItemToBox: function (code) {
      this.Pauseaudio()
      this.status = 'normal'
      this.Playaudio(this.status)
      this.statusText = 'เพิ่มสินค้าหมายเลข  ' + code + ' ลงกล่องแล้ว'
      for (let item of this.item_box) {
        if (item.code === code) {
          this.removeItem(this.item_need, code)
          return item.amount++
        }
      }
      this.Scaned = true
      this.removeItem(this.item_need, code)
      this.item_box.push({code: code, amount: 1})
      this.item_box = this.item_box.reverse()
    },
    sendProductBarcode: function (code) {
      code = code.trim()
      if (code.length === 0) {
        this.status = 'error'
        this.statusText = 'คุณยังไม่ได้กรอกหรือสแกนหมายเลขสินค้า' + code
        this.Playaudio(this.status)
        return 'Error: Empty textbox'
      }

      if (this.searchProductCode(code) === false) {
        this.status = 'error'
        this.statusText = 'ไม่พบสินค้าหมายเลข ' + code + ' กรุณาลองใหม่อีกครั้ง'
        this.Playaudio(this.status)
        return 'Error: Wrong item code: ' + code
      }
      var itemBoxAmount = this.getItemAmount(this.item_box, code)
      var itemNeedAmount = this.getItemAmount(this.item_need, code)
      var sumofvar = itemNeedAmount + itemBoxAmount
      if (itemBoxAmount + 1 > itemNeedAmount + itemBoxAmount) {
        this.status = 'error'
        this.statusText = 'สินค้าหมายเลข ' + code + 'เกินจำนวนที่ระบุไว้ (' + sumofvar + 'ชิ้น)'
        this.Playaudio(this.status)
        return this.getProductName(code) + ' ' + (itemBoxAmount + 1) + ' / ' + (itemNeedAmount + itemBoxAmount)
      }
      this.addItemToBox(code)
      if (this.item_need.length === 0) { // packaging complete
        this.status = 'success'
        this.Scaned = false
        this.Playaudio(this.status)
      }
      this.textFieldBarcode = ''
    },
    listenToProductBarcode: function () {
      (function (vm) {
        document.addEventListener('keypress', function (event) {
          setTimeout(function () {
            vm.barcodeVar = ''
          }, 500)
          if (this.message === undefined) {
            this.message = ''
            this.chk = false
          }

          if (event.keyCode === 13) {
            var itmp = ''
            if (vm.status === 'success') { // enter to go back to bill barcode page
              vm.item_box = []
              vm.status = 'normal'
              vm.statusText = 'สแกนหรือกรอกบาร์โค้ดสินค้าเพื่อเริ่มการทำงาน'
              vm.itmp = ''
              vm.barcodeVar = ''
              vm.textFieldBarcode = ''
              vm.Canscan = false
              vm.$route.router.go({path: '/'})
              return // exit when the app is in success status (not send anything barcode)
              // return window.location.reload()
            }
            if (vm.barcodeVar !== '') {
              itmp = vm.barcodeVar
            } else if (vm.textFieldBarcode !== '') {
              itmp = vm.textFieldBarcode
              vm.barcodeVar = ''
            }
            if (itmp !== '' || vm.textFieldBarcode) {
              document.getElementById('BarcodeID').value = ''
              vm.textFieldBarcode = ''
              vm.barcodeVar = ''
              if (vm.textFieldBarcode.length !== 0) { // if product barcode textbox is not empty
                return vm.sendProductBarcode(vm.textFieldBarcode)
              }
              vm.sendProductBarcode(itmp)
              itmp = ''
            }
          } else {
            if (event.keyCode !== 8) {
              if (vm.Canscan) {
                vm.barcodeVar += String.fromCharCode(event.keyCode)
              }
            }
          }
        })
      })(this)
    },
    Playaudio: function (x) {
      if (x === 'error') {
        this.Errorsound.play()
      } else if (x === 'success') {
        this.Finishedsound.play()
      } else {
        this.Correctsound.play()
      }
    },
    Pauseaudio: function () {
      this.Errorsound.pause()
    },
    Stopmodal: function () {
      this.Shipsend = false
    },
    getLeftamount: function (itemAll) {
      return itemAll.length
    },
    beforeoutmodal: function () {
      this.Beforeout = false
    }
  }
}
</script>
<style scoped>

div.product-scan-status {
  margin: 15px 0px;
  margin-top: 15px;
  background-color: #f1f1f1;
  padding: 16px 8px 15px 15px;
  border-radius: 5px;
}
div.product-scan-status div.text{
  margin: 10px;
  vertical-align: center;
  text-align: center;
}

div.product-scan-status-err div.text{
  margin: 10px;
  vertical-align: center;
  text-align: center;
}

div.product-scan-status.init{
  border: 3px dashed #ccc;
}

button.Ghost-Blue {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    border-radius: 8px;
    padding-left: 102px;
    padding-right: 102px;
}

button.Ghost-Blue:hover {
    background-color: #008CBA;
    color: white;
}

div.product-scan-status.init div.text{
  color: #777;
}

div.product-scan-status.success{
  border-radius: 3px;
  background-color: #bccc2b;
  border: solid 2px #a8ba00;
}

div.product-scan-status.success div.text{
  color: #FFF;
}

div.product-scan-status.normal{
  border: 3px dashed #bccc2b;
}

div.product-scan-status.normal div.text{
  color: #bccc2b;
}

div.product-scan-status {
  border: 3px dashed #fe1919;
  font-family: tahoma;
  font-size: 19px;
  line-height: 0.79;
}

div.product-scan-status.error div.text{
  color: #fe1919;
}

/*img.Item_pic:hover {
  width: 300px;
  height: 300px;
}*/

img.product-img {
  border-radius: 4px;
  border: 2px solid #a0a0a0;
}

div.bill-detail {
   padding-left: 10px;
   border-left: 5px solid #4fa0e9;
}

p.header {
  font-family: "thaisansneue-bold";
  /*font-size: 1.8em;*/
  font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    text-align: left;
    color: #000000;
}
table.table-product {
  border-collapse: separate;
  border: 0px solid #FFF;
}

table.table-product thead {
  background-color: #bababa;
  color: white;
}

table.table-product thead tr td {
  font-family: "thaisansneue-bold";
  font-size: 1.5em;
}

table.table-product thead tr td {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 14px;
  color: white;
}

/* product detail column */
table.table-product tbody td div.row div.col-md-6:nth-child(2) {
  /*background-color: #FFF;*/
  font-size: 1.5em;
  padding: 0.5em 0px;
}

/* item amount column */
table.table-product tbody td div.row div.col-md-2:nth-child(3) {

  padding: 4em 0em;
  padding-right: 2em;
  text-align: right;
}

table.table-product tbody td {
  background-color: #FFF;
}

table.table-product tr {
  padding: 100px;
}

table.table-product tr:first-child td {
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
}

table.table-product tr td {
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
}

table.table-product tbody tr:last-child td {
  border-bottom: 2px solid #bababa;
}

/* table warning color */
table.table-warning thead {
  background-color: #faa01e;
  color: white;
}

table.table-warning tr:first-child td {
  border-left: 2px solid #faa01e;
  border-right: 2px solid #faa01e;
}

table.table-warning tr td {
  border-left: 2px solid #faa01e;
  border-right: 2px solid #faa01e;
}

table.table-warning tbody tr:last-child td {
  border-bottom: 2px solid #faa01e;
}

/* table success color */
table.table-success thead {
  background-color: #bccc2b;
  color: white;
}


table.table-success tr:first-child td {
  border-left: 2px solid #bccc2b;
  border-right: 2px solid #bccc2b;
}

table.table-success tr td {
  border-left: 2px solid #bccc2b;
  border-right: 2px solid #bccc2b;
}

table.table-success tbody tr:last-child td {
  border-bottom: 2px solid #bccc2b;
}

.btn.btn-info {
  background-color: #1480e2;
  font-family: "thaisansneue-bold";
}

.btn-marg {
  margin-top: 27px;
}

.Input-add {
  width: 268px;
  height: 36px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #bababa;
}

.Input-add-err {
  width: 268px;
  height: 36px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #ff0000;
}

.Input-add {
  font-family: Tahoma;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  padding-left: 7.5px;

}

.Input-add-err {
  font-family: Tahoma;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  padding-left: 7.5px;

}

.btn-add {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background-color: #3a4354;
  border: solid 1px #333b4a;
  padding: 0 0;
}

.Logo-header {
  height: 90px;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 2px;
}

.Line-header {
  width: auto;
  height: 2px;
  border: solid 1px #dfdfdf;
}

.Userstatus{
  width:200px;
  height:55px;
  border-radius:3px;
  border: solid 1px #dfdfdf;
  margin-top: 18px;
  margin-bottom: 17px;
  margin-left: 0px;
  margin-right: 25px;
  background-color: #f1f1f1;
}

.displayimg {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.page-name {
  margin-top: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #5c5c5c;
}

div.email-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-role {
  font-family: Tahoma;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #5c5c5c;
  float: left;
  width: 100%;
  margin-top: -5px;
  margin-left: 21px;
}

.gotohome-button {
  width: 110px;
  height: 36px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
}

.gotohome-button-font {
  font-family: "ThaiSansNeue-bold";
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #5c5c5c;
}

.shipping-button-dis {
  width: 107px;
  height: 36px;
  border-radius: 3px;
  background-color: #9b9b9b;
  border: solid 1px #9b9b9b;
}

.shipping-button-succ {
  width: 107px;
  height: 36px;
  border-radius: 3px;
  background-color: #1480e2;
  border: solid 1px #0f6dc2;
}

.shipping-button-font {
  font-family: "ThaiSansNeue-bold";
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.textIteminbox {
  font-family: "ThaiSansNeue-bold";
  font-size: 24px;
  /* font-weight: bold; */
  font-style: normal;
  font-stretch: normal;
  line-height: 9.5px;
  text-align: left;
  color: #ffffff;
}

.inbox-font {
  font-family: Tahoma;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;1
  font-stretch: normal;
  color: #000000;
}

.Item-font {
  font-family: Tahoma;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
}

.table-wrapper {
  position:relative;
}

::-webkit-input-placeholder {
  color: #d8d8d8;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d8d8d8;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #d8d8d8;
}

:-ms-input-placeholder {
  color: #d8d8d8;
}

.finished-item {
  width: 476px;
  height: 231px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 2px #bababa;
}

.finished-header {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: #bababa;
}

.unscaned-header {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: #bababa;
}

.scaned-header {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: #bccc2b;
  position: relative;
}

.finished-left-text {
  float: left;
  padding-top: 16px;
  padding-left: 10px;
}

.finished-header-item {
  padding-top: 16px;
  padding-right: 15px;
  position: absolute;
  right: 0;
}

.finished-header-font {
  font-family: "ThaiSansNeue-bold";
  font-size: 23px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.79;
  text-align: left;
  color: #ffffff;
}

.finished-body {
}

.left-item {
  float: left;
  display: inline-block;
  width: 538px;
  height: 231px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 2px #bababa;
}

.right-item {
  margin-left: 5%;
  float: left;
  display: inline-block;
  width: 538px;
  height: 231px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 2px #bababa;
}

.img-finshed {
  padding-top: 61px;
  padding-left: 67px;
  object-fit: contain;
  /*width: 100%*/
  float: left;
  display: inline-block;
}

.text-finished {
  padding-top: 71px;
  padding-left: 11px;
  float: left;
  display: inline-block;
}

p.finished-item-text {
  font-family: Tahoma;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #bababa;
}

.unfinshed-scan-item-left {
  float: left;
  display: inline-block;
  width: 538px;
  height: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 2px #faa01e;
}

.unfinshed-scan-item-right {
  margin-left: 5%;
  float: left;
  display: inline-block;
  width: 538px;
  height: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 2px #bccc2b;
}

.wait-scaned-header {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: #faa01e;
  position: relative;
}

.item-in-needbox {
  width: 95%;
  margin: 10px;
  padding-bottom: 14px;
  border-bottom: solid 1px #dfdfdf;
  float: left;
  position: relative;

}

.left-img-need-box {
  float: left;
  display: inline-block;
}

.left-text-need-box {
  position: absolute;
  text-align: left;
  display: inline-block;
  padding-left: 10px;
}

.left-amount-need-box {
  position: absolute;
  right: 0px;
  padding-top: 62px;
}
/*rgb(255,69,0);*/
</style>
