<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import Scanbill from './components/Scanbill.vue'
import Scanproduct from './components/Scanproduct.vue'
import store from './vuex/store' // import the store we just created

export default {
  components: {
    Scanbill,
    Scanproduct
  },
  store // make this and all child components aware of the new store
}
</script>


<style>
@font-face {
  font-family: "thaisansneue-bold";
  src: url('../static/fonts/thaisansneue-bold-webfont.eot');
  src: url('../static/fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
       url('../static/fonts/thaisansneue-bold-webfont.woff') format('woff'),
       url('../static/fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
       url('../static/fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
}
</style>
